---
---

<div class="arrow">
  <div class="sq sq1"></div>
  <div class="sq sq2"></div>
  <div class="sq sq3"></div>
</div>

<style is:global>
  .arrow {
    position: relative;
    margin-right: .5rem;
  }
  .arrow .sq {
    position: relative;
    background-color: var(--color-accent);
    width: 2.5px;
    height: 2.5px;
    transition: all 75ms ease-in;
  }
  .arrow .sq.sq1 {
    top: 2.5px;
  }
  .arrow .sq.sq2 {
    left: 0px;
  }
  .arrow .sq.sq3 {
    bottom: 2.5px;
  }

  .arrow-target:hover .arrow .sq.sq1 {
    top: 0px;
  }
  .arrow-target:hover .arrow .sq.sq2 {
    left: 2.5px;
  }
  .arrow-target:hover .arrow .sq.sq3 {
    bottom: 0px;
  }

  @media (hover: none) {
    .arrow .sq.sq1 {
      top: 0px;
    }
    .arrow .sq.sq2 {
      left: 2.5px;
    }
    .arrow .sq.sq3 {
      bottom: 0px;
    }
  }
</style>