<div class="arrow">
  <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect class="sq1" x="0" y="0" width="3" height="3" fill="currentColor"/>
    <rect class="sq2" x="3" y="3" width="3" height="3" fill="currentColor"/>
    <rect class="sq3" x="0" y="6" width="3" height="3" fill="currentColor"/>
  </svg>       
</div>

<style is:global>
  .arrow {
    position: relative;
  }
  .arrow svg rect {
    position: relative;
    color: var(--color-accent);
    transition: transform 75ms;
  }

  .arrow svg .sq1 {
    transform: translateY(3px);
  }
  .arrow svg .sq2 {
    transform: translateX(-3px);
    transition-delay: 75ms;
  }
  .arrow svg .sq3 {
    transform: translateY(-3px);
  }

  .arrow-target:hover svg .sq1 {
    transform: translateY(0px);
  }
  .arrow-target:hover svg .sq2 {
    transform: translateX(0px);
  }
  .arrow-target:hover svg .sq3 {
    transform: translateY(0px);
  }

  @media (hover: none) {
    .arrow svg .sq1 {
      transform: translateY(0px);
    }
    .arrow svg .sq2 {
      transform: translateX(0px);
    }
    .arrow svg .sq3 {
      transform: translateY(0px);
    }
  }
</style>