---
import Link from "./Link.astro"
import Time from "./Time.astro"
import Logo3D from "./Logo3D.astro"
---

<section class="hero">
  <div class="about">
    <div class="intro">
      <div>
        <h1 data-animate="slide-in">Louis Van Aken</h1>
      </div>
      <div>
        <p data-animate="slide-in" data-delay="1">I’m a fullstack developer that enjoys working on technical and creative applications.</p>
        <p data-animate="slide-in" data-delay="2">I’m currently studying at Becode and looking for an internship.</p>
      </div>
    </div>
    <div class="info">
      <div data-animate="slide-in" data-delay="3">
        <p>
          <Time /><br/>
          BRUSSELS,<br/>
          BELGIUM
        </p>
      </div>
      <div data-animate="slide-in" data-delay="4">
        <Link href="https://github.com/louis-va" external>Github</Link>
        <Link href="https://www.linkedin.com/in/louis-van-aken-7785a5177/" external>LinkedIn</Link>
        <Link href="mailto:vanakenlouis@gmail.com">Email</Link>
      </div>
    </div>
  </div>
  <div class="logo-3d-container" data-animate="slide-in">
    <div class="logo-3d-canvas">
      <Logo3D />
    </div>
    <div class="logo-3d-overlay"></div>
  </div>
</section>

<style>
  .hero {
    position: relative;
    min-height: 30rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: var(--gutter);
    border-bottom: 1px solid var(--color-border);
  }
  .about {
    grid-column: span 2 / span 2;
  }
  .about .intro {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: var(--gutter);
    margin-top: 1.5rem;
  }
  .about .intro h1, .about .intro p {
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: .5rem;
  }
  .about .info {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: var(--gutter);
    margin-top: 15rem;
    margin-bottom: 1.5rem;
    font-family: var(--font-monospace);
    font-size: .85rem;
    color: var(--color-text-muted);
  }
  .logo-3d-container {
    position: absolute;
    z-index: -1;
    right: 0;
    width: 50%;
    height: 100%;
  }
  .logo-3d-canvas {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100%;
  }
  .logo-3d-overlay {
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-bg);
    background: linear-gradient(135deg, var(--color-bg-80) 15%, var(--color-bg-0) 50%);
  }

  @media screen and (max-width: 960px) {
    .hero {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .about {
      grid-column: span 1 / span 1;
      border-bottom: 1px solid var(--color-border);
    }
    .game {
      grid-column: span 1 / span 1;
    }
    .logo-3d-container {
      width: 100%;
    }
    .logo-3d-overlay {
      background: linear-gradient(180deg, var(--color-bg-80) 15%, var(--color-bg-0) 100%);
    }
  }

  @media screen and (max-width: 680px) {
    .about .intro {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .logo-3d-container {
      width: 100%;
      height: 70%;
      bottom: 0;
    }
  }
</style>