---
import Arrow from './Arrow.astro';

interface Props {
	href: string;
  external?: boolean;
}

const { href, external=false } = Astro.props;
---

<div>
  <a 
    href={href}
    target={external ? '_blank' : '_self'}
    rel={external ? 'noreferrer' : undefined}
    class="arrow-target"
  >
    <Arrow />
    <slot />
  </a>
</div>

<style>
  a {
    display: inline-flex;
    align-items: center;
    font-family: var(--font-monospace);
    font-size: .85rem;
    color: var(--color-text);
    text-decoration: none;
  }
</style>