---
import Arrow from './Arrow.astro';

interface Props {
	href: string;
  external?: boolean;
  size?: 'small' | 'base';
}

const { href, external=false, size='base' } = Astro.props;
---

<div>
  <a 
    href={href}
    target={external ? '_blank' : '_self'}
    rel={external ? 'noreferrer' : undefined}
    class={`arrow-target ${size}`}
  >
    <Arrow />
    <div class="content">
      <slot />
    </div>
  </a>
</div>

<style>
  a {
    display: inline-flex;
    text-transform: uppercase;
    align-items: center;
    font-family: var(--font-monospace);
    font-size: .85rem;
    color: var(--color-text);
    text-decoration: none;
  }
  a.small {
    font-size: .75rem;
  }
  a .content {
    margin-left: .5rem;
  }
</style>