---
import { getCollection } from 'astro:content';
import ProjectCard from "./ProjectCard.astro"

const projects = await getCollection('projects');
projects.sort((a, b) => {
  return a.data.id - b.data.id;
});
---

<section class="grid">
	{projects.map((project, index) => (
    <div data-animate="slide-in" data-delay={index+6}>
      <ProjectCard
        name={project.data.title}
        slug={project.slug}
        number={project.data.id}
      />
    </div>
	))}
</section>

<style>
  .grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: var(--gutter);
    row-gap: 3rem;
    margin-top: 4rem;
  }
  @media screen and (max-width: 960px) {
    .grid {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  @media screen and (max-width: 680px) {
    .grid {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
</style>