---
interface Props {
	text: string;
}

const { text } = Astro.props;
---

<div class="status">
  <span class="square-pulse">
    <span class="square"></span>
    <span class="pulse"></span>
  </span>
  <span class="text">
    {text}
  </span>
</div>

<style>
  .status {
    display: flex;
    align-items: center;
    margin-top: 1rem;
  }
  .square-pulse {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: .75rem;
    height: .75rem;
    margin-right: .5rem;
    transform: rotate(45deg);
    animation: rotate 2s cubic-bezier(0.33, 1, 0.68, 1) infinite;
  }
  .square {
    width: 40%;
    height: 40%;
    background-color: var(--color-accent);
  }
  .pulse {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--color-accent);
    opacity: .5;
    animation: pulse 2s cubic-bezier(0.33, 1, 0.68, 1) infinite;
  }
  .text {
    font-size: 1.25rem;
  }

  @keyframes pulse {
    0% {
      opacity: .8;
			width: 40%;
      height: 40%;
    }
    50% {
      opacity: .8;
			width: 40%;
      height: 40%;
    }
    100% {
			opacity: 0;
			width: 100%;
      height: 100%;
    }
  }

  @keyframes rotate {
    0% {
      transform: rotate(45deg);
    }
    50% {
      transform: rotate(45deg);
    }
    100% {
			transform: rotate(135deg);
    }
  }
</style>