---
---

<span>
  <span id="time-hours">00</span><span id="time-colon">:</span><span id="time-minutes">00</span>
</span>

<script>
  function updateTime() {
    var now = new Date();
    var utcOffset = 1; // UTC+1
    var utcTime = now.getTime() + (now.getTimezoneOffset() * 60000);
    var localTime = new Date(utcTime + (3600000 * utcOffset));
    
    var hours = localTime.getHours().toString().padStart(2, '0');
    var minutes = localTime.getMinutes().toString().padStart(2, '0');

    const hoursElement = document.getElementById('time-hours');
    const minutesElement = document.getElementById('time-minutes');

    if (hoursElement && minutesElement) {
      hoursElement!.textContent = hours;
      minutesElement!.textContent = minutes;
    }
  }

  function blinkColon() {
    const colonElement = document.getElementById('time-colon');

    if (colonElement) {
      colonElement!.style.visibility = (colonElement!.style.visibility === 'visible') ? 'hidden' : 'visible';
    }
  }

  updateTime();
  setInterval(updateTime, 1000);
  setInterval(blinkColon, 500);
</script>