<div class="container">
  <slot />
</div>

<style>
  .container {
    relative;
    z-index: 10;
    max-width: 1920px;
    margin: auto;
    padding: 4.25rem 2rem 2rem 2rem;
  }
  @media screen and (max-width: 680px) {
    .container {
      padding: 4.25rem 1.25rem 1.25rem 1.25rem;
    }
  }
</style>