---
import Logo from "../components/Logo.astro"
import ThemeSwitch from "../components/ThemeSwitch.astro"
---

<header>
  <a href="/" aria-label="Home">
    <Logo />
  </a>
  <div class="options">
    <ThemeSwitch />
  </div>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
  }
</style>