---
import { ViewTransitions, fade } from 'astro:transitions';
import Container from './Container.astro';
import Header from './Header.astro';
import Footer from './Footer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;	

/* View transition animation */
const fadeAnimation = {
  old: {
    name: "fade-out",
    duration: "0.2s",
    easing: "ease-out",
  },
  new: {
    name: "fade-in",
		delay: ".3s",
    duration: ".2s",
    easing: "ease-out",
  },
};

const pageAnimation = {
  forwards: fadeAnimation,
  backwards: fadeAnimation,
};
---

<!doctype html>
<html lang="en" transition:animate='none'>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Portfolio showcasing my personal work." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
		<script>
			import getTheme from '../utils/theme.utils';
			document.addEventListener('astro:after-swap', () => {
      	document.documentElement.setAttribute("data-theme", getTheme());
			});
			document.documentElement.setAttribute("data-theme", getTheme());
		</script>
	</head>
	<body>
		<Header />
		<Container>
			<main transition:animate={pageAnimation}>
				<slot />
			</main>
		</Container>
		<Footer />
	</body>
</html>

<style is:global>
	/* GLOBAL */
	@font-face {
		font-family: 'Manrope';
		src: url('/fonts/Manrope-Regular.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'Red Hat Mono';
		src: url('/fonts/RedHatMono-Regular.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
	:root {
		--font-sans-serif: 'Manrope', sans-serif;
		--font-monospace: 'Red Hat Mono', monospace;
		--gutter: 1.5rem;
	}
	[data-theme="light"] {
		--color-bg: #FFFFFF;
		--color-bg-80: #FFFFFFCC;
		--color-bg-0: #FFFFFF00;
		--color-text: #020226;
		--color-text-muted: #808092;
		--color-card: #F2F2F4;
		--color-border: #E1E1E5;
		--color-accent: #FF4444;
	}
	[data-theme="dark"] {
		--color-bg: #141418;
		--color-bg-80: #141418CC;
		--color-bg-0: #14141800;
		--color-text: #FFFFFF;
		--color-text-muted: #89898B;
		--color-card: #202024;
		--color-border: #303034;
		--color-accent: #FF4444;
	}
	html {
		font-family: var(--font-sans-serif);
		background: var(--color-bg);
		color: var(--color-text);
	}

	/* RESET */
	*, *::before, *::after {
    box-sizing: border-box;
	}
	* {
			margin: 0;
	}
	html, body {
			height: 100%;
	}
	body {
			line-height: 1.5;
			-webkit-font-smoothing: antialiased;
	}
	img, picture, video, canvas, svg {
			display: block;
			max-width: 100%;
	}
	input, button, textarea, select {
			font: inherit;
	}
	p, h1, h2, h3, h4, h5, h6 {
			overflow-wrap: break-word;
	}
	button {
		background: none;
		color: inherit;
		border: none;
		padding: 0;
		font: inherit;
		cursor: pointer;
		outline: inherit;
	}

	/* VIEW TRANSITION ANIMATION */
	@keyframes fade-out {
    from {
			opacity: 1;
    }
    to {
			opacity: 0;
    }
  }

	@keyframes fade-in {
    from {
			opacity: 0;
    }
    to {
			opacity: 1;
    }
  }

	/* ELEMENTS ANIMATION */
	@keyframes slide-in {
    from {
			opacity: 0;
			transform: translateY(-1.5rem);
    }
    to {
			opacity: 1;
			transform: translateY(0rem);
    }
  }

	[data-animate="slide-in"] {
		opacity: 0;
		animation: slide-in .6s cubic-bezier(0.33, 1, 0.68, 1) forwards;
		animation-delay: .2s;
	}
	/* dirty code but maybe someday we can use attr() */
	[data-delay="1"] {
		animation-delay: .25s;
	}
	[data-delay="2"] {
		animation-delay: .3s;
	}
	[data-delay="3"] {
		animation-delay: .35s;
	}
	[data-delay="4"] {
		animation-delay: .4s;
	}
	[data-delay="5"] {
		animation-delay: .45s;
	}
	[data-delay="6"] {
		animation-delay: .5s;
	}
	[data-delay="7"] {
		animation-delay: .55s;
	}
	[data-delay="8"] {
		animation-delay: .6s;
	}
	[data-delay="9"] {
		animation-delay: .65s;
	}
	[data-delay="10"] {
		animation-delay: .7s;
	}
	[data-delay="11"] {
		animation-delay: .75s;
	}
	[data-delay="12"] {
		animation-delay: .8s;
	}
	[data-delay="13"] {
		animation-delay: .85s;
	}
	[data-delay="14"] {
		animation-delay: .90s;
	}
	[data-delay="15"] {
		animation-delay: .95s;
	}
</style>